* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: auto;
  
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}


a.active {
  color: #0c5fcd;
}

a.active svg {
  color: #0c5fcd;
}

h1{
  color: #0c5fcd;
}